<a href="https://colab.research.google.com/github/EHDFUF/AFTER_TEST_SUBMIT_/blob/main/10_202510781_%EA%B9%80%EB%8F%99%EB%A0%AC.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
a=5; b=3
print(a+b, a-b, a*b, a/b, a//b, a%b, a**b)

8 2 15 1.6666666666666667 1 2 125

In [5]:
a=99

print((a>100)and(a<200))

print((a>100)or(a<200))

print(not(a==100))

False
True
True

In [2]:
a,b=100,200

print(a==b, a!=b, a>b, a<b, a>=b,a<=b)

False True False True False True

In [6]:
num = int(input("정수 입력:"))

if num%2 == 0:
    print("짝수")
else:
    print("홀수")

정수 입력:2
짝수

In [7]:
score = int(input("점수 입력:"))

if score > 90:

    print("합격")
    print("장학금 수여 가능")

점수 입력:91
합격
장학금 수여 가능

In [8]:
age = int(input("나이 입력:"))

if age >= 15:

    print("영화 관람 가능")
    print("관람료 = 20000원")

else:

    print("영화 관람 불가")

나이 입력:16
영화 관람 가능
관람료 = 20000원

In [9]:
num = int(input("숫자 입력:"))

if num >= 0:

    print("해당 숫자 양수")

else:

    print("해당 숫자 음수")

숫자 입력:0
해당 숫자 양수