<a href="https://colab.research.google.com/github/EHDFUF/10-weeks-sub/blob/10-weeks-sub/sequence.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
print("안녕하세요? 파이썬에 오신 것을 환영합니다!")
print("프로그래밍 공부를 즐기셨으면 합니다!")
print("안녕!" * 3)

안녕하세요? 파이썬에 오신 것을 환영합니다!
프로그래밍 공부를 즐기셨으면 합니다!
안녕!안녕!안녕!

In [ ]:
print("프로그램 시작!")

In [ ]:
a = 123
print(a)

a = "파이썬"
print(a)

a = [1, 2, 3]
print(a)

123
파이썬
[1, 2, 3]

In [ ]:
print("5*10의 결과값은", 5*10, "입니다")

a = "상명"

print("여기는 ", a , "대학교입니다" )

print("링딩동 " * 3)

5*10의 결과값은 50 입니다
여기는  상명 대학교입니다
링딩동 링딩동 링딩동

In [ ]:
x = input("전화번호 입력")
print(x)

전화번호 입력01049303419
01049303419

In [ ]:
x = int(input("구매할 감자개수 입력:"))
print("가격은", 500 * x, "원 입니다")

구매할 감자개수 입력:2
가격은 1000 원 입니다

In [ ]:
print("안녕? 나는 채팅봇")
name = input("이름이 머야?")
print(name, "! 반가워!")
age = int(input("나 10살인데 너는 몇살?"))
print(f"너는 {age}살이구나!")

안녕? 나는 채팅봇
이름이 머야?12
12 ! 반가워!
나 10살인데 너는 몇살?3
너는 3살이구나!

In [ ]:
print("평균 학점 계산해드림")
math = int(input("수학 점수 입력:"))
eng = int(input("영어 점수 입력:"))
print("평균 학점은", (math + eng)/2 ,"입니다.")

평균 학점 계산해드림
수학 점수 입력:1
영어 점수 입력:2
평균 학점은 1.5 입니다.

In [ ]:
print("평균 학점 계산해드림")
math = int(input("수학 점수 입력:"))
eng = int(input("영어 점수 입력:"))
kor = int(input("국어 점수 입력:"))
sci = int(input("과학 점수 입력:"))
print("평균 학점은", (math + eng + kor + sci)/4 ,"입니다.")

평균 학점 계산해드림
수학 점수 입력:1
영어 점수 입력:2
국어 점수 입력:3
과학 점수 입력:4
평균 학점은 2.5 입니다.

3